<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set the theme-color meta tag for Android -->
    <!-- <meta name="theme-color" content="#fff"> -->

    <!-- Set the status bar color for iOS -->
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="#fff"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,viewport-fit=cover">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">PYP</a>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/team">Teams</a>
                </li>
                <li>
                    <a href="/dept">Departments</a>
                </li>
                <li>
                    <a href="#">Contact-us</a>
                </li>
            </ul>
        </div>
        <div class="login">
            <li><a href="/login"><ion-icon name="log-in-outline"></ion-icon></a></li>
            <div class="toggle">
                <ion-icon class="menu" name="close"></ion-icon>
                <ion-icon class="close" name="menu"></ion-icon>
            </div>
        </div>
    </header>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>